body{
    background-color: cornsilk;
}
img{
    height: 15vh;
    width: 15vh;
    border-radius: 5%;
    object-fit: fill;
}
article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
div{
    padding: 10px;
}
button{
    align-items: center;
    text-align: center;
}